<header>
  <!-- Sticky top not working with <header> -->
  <nav class="navbar navbar-expand-lg sticky-top bg-white border-bottom">
    <a class="navbar-brand" href="/">
      <%= image_tag("emitime_logo.png", :class => "d-inline-block align-top nav-logo") %>

      <!-- <img src="/images/emitime_logo.png" width="40" height="40" class="d-inline-block align-top" alt=""> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item small"><%= link_to "First login", edit_bio_path(current_user.bio), class: "nav-link" %></li>
          <li class="nav-item small"><%= link_to "Your Bio", bios_path, method: :get, class: "nav-link" %></li>
          <li class="nav-item small"><%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item small"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"  %></li>
        <% else %>
          <li class="nav-item small"><%= link_to "Sign up", new_user_registration_path, class: "nav-link"  %></li>
          <li class="nav-item small"><%= link_to "Login", new_user_session_path, class: "nav-link"  %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
